// Global Foundation Settings
@import "settings";



/* COLORS */
  
  $color-brown: #7c6a5e;
  $color-brown-dark: #3d332c;
  $color-brown-light: #bab2ab;
  $color-blue: #2f63a5;
  $color-red: #ca2c46;
  $color-bg: #e7e7e5;

  $color-light: #fff;

  $color-border: #ccccca;

  $add-walk: #5a2d0d;
  $add-trike: #58a8ad;
  $add-jeep: #125dbb;
  $add-bus: #b7590e;
  $add-fx: #c69a02;
  $add-mrt: #340a73;
  $add-lrt: #654398;
  $add-lrt2: #9373c3;
  $add-alight: #b02a3d;

/* FONTS */

  $secondary-font:  'proxima-nova', sans-serif;

  h1, h2, h3, h4, h5, h6 {
    font-family: $secondary-font;
    font-weight: 600;
  }

  h3 {
    text-transform: uppercase;
    font-size: 16px;
  }

  .button {
    font-family: $secondary-font;
  }

  .search h2, .page h2 { margin-top: 20px; }

  h2 {
    .desc {
      display: block;
      font-size:  emCalc(18px);
      text-transform: uppercase;
    }
    .pointA { color: $color-blue; }
    .pointB { color: $color-red; }
  }


/* FORMS */

  .button {
    font-weight: 400; 
    .desc, .action {
      display: block;
      line-height: 1.5;
    }
    .action {
      font-size: 24px;
    }
  }

  fieldset {
    background: $color-bg;
    box-shadow: 0 2px 2px rgba(61,51,44,0.25);

    legend {
      background: $color-brown-light;
      padding: emCalc(10px);
      font-family: $secondary-font;
    }

    p { font-size: emCalc(12px); color: #64615c; margin-left: 50px; }
  }


/* GENERAL */
  
  body {
    background: url('../img/bg.jpg') 0 0 no-repeat $color-bg;
    background-size: 100%;
    font-family: "jaf-facitweb",sans-serif;
  }

  #main-header {
    background: $color-brown-dark;
    color: $color-light;

    label { color: $color-light; }

    h1.title { color: $color-light; font-size: 24px; }
  }

  .header-search {
    form {
      padding-top: 15px;
      margin-bottom: 0;
    }
  }

  #main-footer {

    background: $color-brown-dark;
    color: $color-light;
    padding-top: 15px;
    p, ul { font-size: 0.813em; }

    a { color: #bab2ab; }
  }

  .panel {
    background: $color-bg; 
    padding-top: 0;
    padding-bottom: 0;
    font-size: emCalc(14px);

    a:hover { color: $color-brown-dark; }

    .side-nav {
      li {
        border-bottom: 1px solid $color-border;
        padding: emCalc(10px) 0;
        margin: 0;

        &:last-child { border: 0; }
      }
    }

    h3 {
      background: #3d332c;
      color: $color-light;
      padding: emCalc(15px);
      margin: 0 emCalc(-18px);
      letter-spacing: 1px;
      line-height: 1.5;
    }
  }

  .hide { display: none; }

  .button-bar {
    .desc {
      font-family: $secondary-font;
      font-weight: 700;
      margin-right: emCalc(20px);
      text-transform: uppercase;

      span { display: block; padding-top: 2px; }
    }
  }

  .copy-info p {
    font-size: emCalc(11px);
  }

/* CONTENT */
  
  .set-directions {
    border: 1px solid $color-border;
    padding: 15px;
    margin-bottom: 20px;
    background: #fff;

    ul {
      margin-left: 20px;
    }

    .inline-list {
      border-top: 1px solid $color-border;
      margin: 0 -15px;
      padding-top: 15px;
    }
  }

/* PAGE: HOME */

  .intro-image {
    text-align: center;
    margin-top: emCalc(20px);
  }

  .home-nav {
    background: $color-bg; 
    padding-top: 0;
    padding-bottom: 0;
    font-size: emCalc(24px);
    font-family: $secondary-font;

    li { 
      margin: 0 emCalc(-15px);
      list-style-type: none; 
      padding: emCalc(15px);
      &:nth-child(odd) { background: #dddcd4; }
    }

    a { color: $color-brown; font-weight: 600; }
  }

  .panel.home {
    .desc {
      font-size: emCalc(18px);
      padding: emCalc(15px) 0 ;
      line-height: 1.3;
    }
    h3 { margin: 0 emCalc(-18px); background: $color-blue; }
  }

/* PAGE: ADD ROUTE */
  
  .rates {
    font-size: emCalc(12px);
    font-family: $secondary-font;
    li { list-style-type: none; }
    .label { font-weight: normal; }
  }

  .add-directions-buttons {
    letter-spacing: 1px;
    .button {
      border-color: $color-brown-dark;
      &.add-walk { background: $add-walk; }
      &.add-trike { background: $add-trike; }
      &.add-jeep { background: $add-jeep; }
      &.add-bus { background: $add-bus; }
      &.add-fx { background: $add-fx; }
      &.add-mrt { background: $add-mrt; }
      &.add-lrt { background: $add-lrt; }
      &.add-lrt2 { background: $add-lrt2; }
      &.add-alight { background: $add-alight; }
    }

    &.filter {
      margin-bottom: emCalc(20px);
    }
  }

  .route-building {
    fieldset {
      &.add-walk { border-left: 15px solid $add-walk; }
      &.add-trike { border-left: 15px solid $add-trike; }
      &.add-jeep { border-left: 15px solid $add-jeep; }
      &.add-bus { border-left: 15px solid $add-bus; }
      &.add-fx { border-left: 15px solid $add-fx; }
      &.add-mrt { border-left: 15px solid $add-mrt; }
      &.add-lrt { border-left: 15px solid $add-lrt; }
      &.add-lrt2 { border-left: 15px solid $add-lrt2; }
      &.add-alight { border-left: 15px solid $add-alight; }

      position: relative;

      .delete {
        position: absolute;
        top: 0;
        right: 20px;
        font-size: emCalc(24px);
        font-weight: 700;
        padding: 5px 15px !important;
      }
    }
    label {
      font-family: $secondary-font;
      font-weight: 700;
    }

    .status {
      margin-top: emCalc(20px);
    }
  }

  [data-magellan-expedition] {
    background: #f3f3f3;
    box-shadow: 0 2px 2px rgba(0,0,0,0.25);
    border-top: 3px solid $color-brown;

    .button-group li a.button { margin: 0 !important; }
  }

/* PAGE: BROWSE */

  .browse-routes {
    li {
      list-style-type: none;
      background: $color-bg;
      border-bottom: 1px solid $color-border;
      padding: 10px 15px;
    }
    li:hover {
      background: #fff;
    }

    a { color: #755f4f; }
    a:hover { color: #3d332c; }
  }

/* PAGE: SEARCH RESULTS */

  .set-directions {
    h4 {
      a {
        color: #ce643b;
      }
      a:hover {
        text-decoration: underline;
      }
    }

    .reactions {
      font-size: emCalc(14px);
      a { color: #afafa5; }
      a:hover { color: #90907d; }
    }
  }

  .list-directions {
    list-style-type: none;
    li { 
      padding: emCalc(6px) emCalc(15px);
      margin-bottom: 1px;
    }
    $list-directions-border: 10px;
    .walk { border-left: $list-directions-border solid $add-walk; }
    .trike { border-left: $list-directions-border solid $add-trike; }
    .jeep { border-left: $list-directions-border solid $add-jeep; }
    .bus { border-left: $list-directions-border solid $add-bus; }
    .fx { border-left: $list-directions-border solid $add-fx; }
    .mrt { border-left: $list-directions-border solid $add-mrt; }
    .lrt { border-left: $list-directions-border solid $add-lrt; }
    .lrt2 { border-left: $list-directions-border solid $add-lrt2; }
    .alight { border-left: $list-directions-border solid $add-alight; }
  }

/* PAGE: ROUTE */
  
  .related-routes {
    max-height: 129px;
    overflow: auto;
  }
