/* COLORS */

  $color-brown-dark: #3d332c;
  $color-brown-light: #bab2ab;
  $color-bg: #e7e7e5;

  $color-light: #fff;

/* FONTS */

  h1, h2, h3, h4, h5, h6 {
    font-family: 'proxima-nova', sans-serif;
    font-weight: 600;
  }

  h3 {
    text-transform: uppercase;
    font-size: 16px;
  }

  .button {
    font-family: 'proxima-nova', sans-serif;
  }

  .search h2, .page h2 { margin-top: 20px; }

  h2 span.desc {
    display: block;
    font-size: 18px;
    text-transform: uppercase;
  }


/* FORMS */

  .button {
    font-weight: 400; 
    .desc, .action {
      display: block;
      line-height: 1.5;
    }
    .action {
      font-size: 24px;
    }
  }


/* GENERAL */
  
  body {
    background: url('../img/bg.jpg') 0 0 no-repeat $color-bg;
    background-size: 100%;
    font-family: "jaf-facitweb",sans-serif;
  }

  #main-header {
    background: $color-brown-dark;
    color: $color-light;

    label { color: $color-light; }

    h1.title { color: $color-light; font-size: 24px; }
  }

  .header-search {
    form {
      padding-top: 15px;
      margin-bottom: 0;
    }
  }

  #main-footer {

    background: $color-brown-dark;
    color: $color-light;
    padding-top: 15px;
    p, ul { font-size: 0.813em; }

  }

/* CONTENT */
  
  .set-directions {
    border: 1px solid #ccccca;
    padding: 15px;
    margin-bottom: 20px;
    background: #fff;

    ul {
      margin-left: 20px;
    }

    .inline-list {
      border-top: 1px solid #ccccca;
      margin: 0 -15px;
      padding-top: 15px;
    }
  }

/* PAGE: ADD ROUTE */
  
  .rates {
    font-size: 12px;
    font-family: 'proxima-nova', sans-serif;
    li { list-style-type: none; }
    .label { font-weight: normal; }
  }



